<form method='GET' action='/quizes/<%= quiz.id %>/answer'>
	<p>Pregunta: <%= quiz.pregunta %></p>
	<input type='text' name='respuesta' value='Responda aquí' />
	<input type='submit' value='Enviar' />
</form>
<% if (quiz.Comments.length) { %>
  <p><strong>Comentarios:</strong></p>
  <ul>
  <% for (var i in quiz.Comments) { %>
    <form method='POST' action='/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish?_method=PUT'>
      <li>
	<%= quiz.Comments[i].texto %>
	<% if (!quiz.Comments[i].publicado) { %>
	  <input type='submit' value='Publicar' />
	<% } %>
      </li>
    </form>
  <% } %>
  </ul>
<% } %>
<a href='<%= quiz.id %>/comments/new'><button type='button'>Crear comentario</button></a>
