<h3>Estadísticas</h3>
<ul>
  <li>Número de preguntas: <%= statistics.numero_de_preguntas %></li>
  <li>Número de comentarios totales: <%= statistics.numero_de_comentarios_totales %></li>
  <li>Número medio de comentarios por pregunta: <%= statistics.numero_medio_de_comentarios_por_pregunta %></li>
  <li>Número de preguntas sin comentarios: <%= statistics.numero_de_preguntas_sin_comentarios %></li>
  <li>Número de preguntas con comentarios: <%= statistics.numero_de_preguntas_con_comentarios %></li>
</ul>
